@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.infoForm{
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 95%;
  margin-bottom: 50px;
}
img {
  height: 35%;
  width: 35%;
  border: 1px solid gainsboro;
}

.infoText{
  padding-left: 5%;
  width: 60%;

}

/* 년도 */
.yearDiv{
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 1.7rem;
  font-weight: bold;
  color: gray;
  padding-bottom: 10%;
}

/* 프로젝트 명 */
.prjDiv{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: 'nanumsquare', sans-serif;
  color: rgb(90, 90, 90);
  padding-bottom: 2%;
}

/* 프로젝트내용 */
.contetDiv{
  font-family: 'nanumsquare', sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 0.9rem;
}


/* 버튼 */
.btnDiv{
  margin-top: 10%;
}
.btnDiv>a{
    margin: 7px;
    text-decoration: none;
    font-size: 1rem;
    display : inline-block;
    border-radius: 5px;
    padding: 7px 4px 7px 4px;
    transition: all 0.1s;
    color: white;
    width: 60px;
    font-family: 'Roboto', sans-serif;
}
.btnDiv>a{
    background-color: #fca829;
}
.btnDiv>a:active{
    transform : translateY(3px);
}
.btnDiv>a:active{
  background-color: #fca829;
}

/* git 저장 */
/* .urlBtn{
  border: none;
  background-color: rgb(250, 195, 75);
  width: 100px;
  color: white;
  margin:5px;
}

.demoBtn{
  border: none;
  background-color: rgb(250, 195, 75);
  width: 100px;
  color: white;
  margin:5px;
} */