.projects {
  padding: 2rem;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 100%px;
  padding: 1rem;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  display: grid;
}

.prj_title {
  color: rgb(75, 75, 75);  
  font-size: 3rem;
  padding: 3rem;
}
