@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100,300,500,700,900&display=swap');

.projects {
  padding: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  display: grid;
}

.prj_title {
  color: rgb(48, 46, 46);  
  font-size: 3rem;
  padding: 3rem;
  font-weight: 900;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'nanumsquare', sans-serif;
  padding-bottom: 15%;
}
