.title {
  padding: 2rem;
  font-size: 3.5rem;
  text-align: center;
  font-weight: bold;
  color: white;  
  display: flex;
  align-items: center;
  
}

.form-wrapper {
  background: #0e2e53;
  height: 400px;
  padding: 1rem;
  justify-content: center;
  display: flex;
  /* border-bottom: 1px solid #22b8cf; */
}
