
.form-wrapper {
  background-image: url('../img/backgroundimg.jpg');
  background-repeat : no-repeat;
  background-size : cover;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  justify-content: center;
  padding: 2rem;
  font-size: 3.5rem;
  text-align: center;
  font-weight: bold;
  color: white;  
  display: flex;
  align-items: center;
}
