.skill {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  font-size: 3.5rem;
  text-align: center;
  font-weight: bold;
  color: rgb(47, 50, 56);  
  display: flex;
  align-items: center;
  background: #ffa3a3;
  padding: 1rem;
  justify-content: center;
  display: flex;
  }
  
